In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('california house price dataset.csv')

In [11]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [13]:
pip install ydata-profiling

Requirement already satisfied: ydata-profiling in c:\users\lenovo\anaconda3\lib\site-packages (4.10.0)
Requirement already satisfied: scipy<1.14,>=1.4.1 in c:\users\lenovo\anaconda3\lib\site-packages (from ydata-profiling) (1.11.4)
Requirement already satisfied: pandas!=1.4.0,<3,>1.1 in c:\users\lenovo\anaconda3\lib\site-packages (from ydata-profiling) (2.1.4)
Requirement already satisfied: matplotlib<3.10,>=3.5 in c:\users\lenovo\anaconda3\lib\site-packages (from ydata-profiling) (3.8.0)
Requirement already satisfied: pydantic>=2 in c:\users\lenovo\anaconda3\lib\site-packages (from ydata-profiling) (2.9.1)
Requirement already satisfied: PyYAML<6.1,>=5.0.0 in c:\users\lenovo\anaconda3\lib\site-packages (from ydata-profiling) (6.0.1)
Requirement already satisfied: jinja2<3.2,>=2.11.1 in c:\users\lenovo\anaconda3\lib\site-packages (from ydata-profiling) (3.1.3)
Requirement already satisfied: visions<0.7.7,>=0.7.5 in c:\users\lenovo\anaconda3\lib\site-packages (from visions[type_image_path]<0.7.7,>=0.7.5->ydata-profiling) (0.7.6)
Requirement already satisfied: numpy<2.2,>=1.16.0 in c:\users\lenovo\anaconda3\lib\site-packages (from ydata-profiling) (1.26.4)
Requirement already satisfied: htmlmin==0.1.12 in c:\users\lenovo\anaconda3\lib\site-packages (from ydata-profiling) (0.1.12)
Requirement already satisfied: phik<0.13,>=0.11.1 in c:\users\lenovo\anaconda3\lib\site-packages (from ydata-profiling) (0.12.4)
Requirement already satisfied: requests<3,>=2.24.0 in c:\users\lenovo\anaconda3\lib\site-packages (from ydata-profiling) (2.31.0)
Requirement already satisfied: tqdm<5,>=4.48.2 in c:\users\lenovo\anaconda3\lib\site-packages (from ydata-profiling) (4.65.0)
Requirement already satisfied: seaborn<0.14,>=0.10.1 in c:\users\lenovo\anaconda3\lib\site-packages (from ydata-profiling) (0.12.2)
Requirement already satisfied: multimethod<2,>=1.4 in c:\users\lenovo\anaconda3\lib\site-packages (from ydata-profiling) (1.12)
Requirement already satisfied: statsmodels<1,>=0.13.2 in c:\users\lenovo\anaconda3\lib\site-packages (from ydata-profiling) (0.14.0)
Requirement already satisfied: typeguard<5,>=3 in c:\users\lenovo\anaconda3\lib\site-packages (from ydata-profiling) (4.3.0)
Requirement already satisfied: imagehash==4.3.1 in c:\users\lenovo\anaconda3\lib\site-packages (from ydata-profiling) (4.3.1)
Requirement already satisfied: wordcloud>=1.9.3 in c:\users\lenovo\anaconda3\lib\site-packages (from ydata-profiling) (1.9.3)
Requirement already satisfied: dacite>=1.8 in c:\users\lenovo\anaconda3\lib\site-packages (from ydata-profiling) (1.8.1)
Requirement already satisfied: numba<1,>=0.56.0 in c:\users\lenovo\anaconda3\lib\site-packages (from ydata-profiling) (0.59.0)
Requirement already satisfied: PyWavelets in c:\users\lenovo\anaconda3\lib\site-packages (from imagehash==4.3.1->ydata-profiling) (1.5.0)
Requirement already satisfied: pillow in c:\users\lenovo\anaconda3\lib\site-packages (from imagehash==4.3.1->ydata-profiling) (10.2.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\lenovo\anaconda3\lib\site-packages (from jinja2<3.2,>=2.11.1->ydata-profiling) (2.1.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (23.1)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\lenovo\anaconda3\lib\site-packages (from matplotlib<3.10,>=3.5->ydata-profiling) (2.8.2)
Requirement already satisfied: llvmlite<0.43,>=0.42.0dev0 in c:\users\lenovo\anaconda3\lib\site-packages (from numba<1,>=0.56.0->ydata-profiling) (0.42.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas!=1.4.0,<3,>1.1->ydata-profiling) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\lenovo\anaconda3\lib\site-packages (from pandas!=1.4.0,<3,>1.1->ydata-profiling) (2023.3)
Requirement already satisfied: joblib>=0.14.1 in c:\users\lenovo\anaconda3\lib\site-packages (from phik<0.13,>=0.11.1->ydata-profiling) (1.1.1)
Requirement already satisfied: annotated-types>=0.6.0 in c:\users\lenovo\anaconda3\lib\site-packages (from pydantic>=2->ydata-profiling) (0.7.0)
Requirement already satisfied: pydantic-core==2.23.3 in c:\users\lenovo\anaconda3\lib\site-packages (from pydantic>=2->ydata-profiling) (2.23.3)
Requirement already satisfied: typing-extensions>=4.6.1 in c:\users\lenovo\anaconda3\lib\site-packages (from pydantic>=2->ydata-profiling) (4.12.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\lenovo\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\lenovo\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\lenovo\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\lenovo\anaconda3\lib\site-packages (from requests<3,>=2.24.0->ydata-profiling) (2024.7.4)
Requirement already satisfied: patsy>=0.5.2 in c:\users\lenovo\anaconda3\lib\site-packages (from statsmodels<1,>=0.13.2->ydata-profiling) (0.5.3)
Requirement already satisfied: colorama in c:\users\lenovo\anaconda3\lib\site-packages (from tqdm<5,>=4.48.2->ydata-profiling) (0.4.6)
Requirement already satisfied: attrs>=19.3.0 in c:\users\lenovo\anaconda3\lib\site-packages (from visions<0.7.7,>=0.7.5->visions[type_image_path]<0.7.7,>=0.7.5->ydata-profiling) (23.1.0)
Requirement already satisfied: networkx>=2.4 in c:\users\lenovo\anaconda3\lib\site-packages (from visions<0.7.7,>=0.7.5->visions[type_image_path]<0.7.7,>=0.7.5->ydata-profiling) (3.1)
Requirement already satisfied: six in c:\users\lenovo\anaconda3\lib\site-packages (from patsy>=0.5.2->statsmodels<1,>=0.13.2->ydata-profiling) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [15]:
from ydata_profiling import ProfileReport

In [17]:
prof = ProfileReport(df)
prof.to_file(output_file='output.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [19]:
df.info          #to check the null values.

<bound method DataFrame.info of        longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -122.23     37.88                41.0        880.0           129.0
1        -122.22     37.86                21.0       7099.0          1106.0
2        -122.24     37.85                52.0       1467.0           190.0
3        -122.25     37.85                52.0       1274.0           235.0
4        -122.25     37.85                52.0       1627.0           280.0
...          ...       ...                 ...          ...             ...
20635    -121.09     39.48                25.0       1665.0           374.0
20636    -121.21     39.49                18.0        697.0           150.0
20637    -121.22     39.43                17.0       2254.0           485.0
20638    -121.32     39.43                18.0       1860.0           409.0
20639    -121.24     39.37                16.0       2785.0           616.0

       population  households  median_income  median_house_value  \
0           322.0       126.0         8.3252            452600.0
1          2401.0      1138.0         8.3014            358500.0
2           496.0       177.0         7.2574            352100.0
3           558.0       219.0         5.6431            341300.0
4           565.0       259.0         3.8462            342200.0
...           ...         ...            ...                 ...
20635       845.0       330.0         1.5603             78100.0
20636       356.0       114.0         2.5568             77100.0
20637      1007.0       433.0         1.7000             92300.0
20638       741.0       349.0         1.8672             84700.0
20639      1387.0       530.0         2.3886             89400.0

      ocean_proximity
0            NEAR BAY
1            NEAR BAY
2            NEAR BAY
3            NEAR BAY
4            NEAR BAY
...               ...
20635          INLAND
20636          INLAND
20637          INLAND
20638          INLAND
20639          INLAND

[20640 rows x 10 columns]>

In [21]:
df['total_bedrooms'].isnull().sum()

207

In [23]:
df.dropna(inplace=True)     #dropping the null values rows since the data is quite big and the number of null values rows is small so dropping is right option

In [25]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20433 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20433 non-null  float64
 1   latitude            20433 non-null  float64
 2   housing_median_age  20433 non-null  float64
 3   total_rooms         20433 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20433 non-null  float64
 6   households          20433 non-null  float64
 7   median_income       20433 non-null  float64
 8   median_house_value  20433 non-null  float64
 9   ocean_proximity     20433 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.7+ MB

In [29]:
df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000
mean,-119.570689,35.633221,28.633094,2636.504233,537.870553,1424.946949,499.433465,3.871162,206864.413155
std,2.003578,2.136348,12.591805,2185.269567,421.385070,1133.208490,382.299226,1.899291,115435.667099
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1450.000000,296.000000,787.000000,280.000000,2.563700,119500.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.536500,179700.000000
75%,-118.010000,37.720000,37.000000,3143.000000,647.000000,1722.000000,604.000000,4.744000,264700.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [31]:
df.hist(figsize=(15,8))

array([[<Axes: title={'center': 'longitude'}>,
        <Axes: title={'center': 'latitude'}>,
        <Axes: title={'center': 'housing_median_age'}>],
       [<Axes: title={'center': 'total_rooms'}>,
        <Axes: title={'center': 'total_bedrooms'}>,
        <Axes: title={'center': 'population'}>],
       [<Axes: title={'center': 'households'}>,
        <Axes: title={'center': 'median_income'}>,
        <Axes: title={'center': 'median_house_value'}>]], dtype=object)

In [33]:
numeric_df = df.select_dtypes(include=[float, int])     #here the column ocean proximity is not numeric and correlation only works on numeric data. hence only int and float is used
df_corr = numeric_df.corr()

In [35]:
df_corr

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
longitude,1.000000,-0.924616,-0.109357,0.045480,0.069608,0.100270,0.056513,-0.015550,-0.045398
latitude,-0.924616,1.000000,0.011899,-0.036667,-0.066983,-0.108997,-0.071774,-0.079626,-0.144638
housing_median_age,-0.109357,0.011899,1.000000,-0.360628,-0.320451,-0.295787,-0.302768,-0.118278,0.106432
total_rooms,0.045480,-0.036667,-0.360628,1.000000,0.930380,0.857281,0.918992,0.197882,0.133294
total_bedrooms,0.069608,-0.066983,-0.320451,0.930380,1.000000,0.877747,0.979728,-0.007723,0.049686
population,0.100270,-0.108997,-0.295787,0.857281,0.877747,1.000000,0.907186,0.005087,-0.025300
households,0.056513,-0.071774,-0.302768,0.918992,0.979728,0.907186,1.000000,0.013434,0.064894
median_income,-0.015550,-0.079626,-0.118278,0.197882,-0.007723,0.005087,0.013434,1.000000,0.688355
median_house_value,-0.045398,-0.144638,0.106432,0.133294,0.049686,-0.025300,0.064894,0.688355,1.000000

In [37]:
plt.figure(figsize=(15,8))
sns.heatmap(df_corr,annot=True,cmap='YlGnBu',fmt= '.2f')    #don't know why this heatmap isn't showing the full annotation but given below is the annotation

In [39]:
print(df_corr)

                    longitude  latitude  housing_median_age  total_rooms  \
longitude            1.000000 -0.924616           -0.109357     0.045480
latitude            -0.924616  1.000000            0.011899    -0.036667
housing_median_age  -0.109357  0.011899            1.000000    -0.360628
total_rooms          0.045480 -0.036667           -0.360628     1.000000
total_bedrooms       0.069608 -0.066983           -0.320451     0.930380
population           0.100270 -0.108997           -0.295787     0.857281
households           0.056513 -0.071774           -0.302768     0.918992
median_income       -0.015550 -0.079626           -0.118278     0.197882
median_house_value  -0.045398 -0.144638            0.106432     0.133294

                    total_bedrooms  population  households  median_income  \
longitude                 0.069608    0.100270    0.056513      -0.015550
latitude                 -0.066983   -0.108997   -0.071774      -0.079626
housing_median_age       -0.320451   -0.295787   -0.302768      -0.118278
total_rooms               0.930380    0.857281    0.918992       0.197882
total_bedrooms            1.000000    0.877747    0.979728      -0.007723
population                0.877747    1.000000    0.907186       0.005087
households                0.979728    0.907186    1.000000       0.013434
median_income            -0.007723    0.005087    0.013434       1.000000
median_house_value        0.049686   -0.025300    0.064894       0.688355

                    median_house_value
longitude                    -0.045398
latitude                     -0.144638
housing_median_age            0.106432
total_rooms                   0.133294
total_bedrooms                0.049686
population                   -0.025300
households                    0.064894
median_income                 0.688355
median_house_value            1.000000

In [41]:
df['total_rooms'] = np.log(df['total_rooms']+ 1)
df['total_bedrooms'] = np.log(df['total_bedrooms']+1)
df['population'] = np.log(df['population']+1)
df['households'] = np.log(df['households']+1)

In [43]:
df.hist(figsize=(15,8))    #now we can see that the four columns are kind of normally distributed

array([[<Axes: title={'center': 'longitude'}>,
        <Axes: title={'center': 'latitude'}>,
        <Axes: title={'center': 'housing_median_age'}>],
       [<Axes: title={'center': 'total_rooms'}>,
        <Axes: title={'center': 'total_bedrooms'}>,
        <Axes: title={'center': 'population'}>],
       [<Axes: title={'center': 'households'}>,
        <Axes: title={'center': 'median_income'}>,
        <Axes: title={'center': 'median_house_value'}>]], dtype=object)

In [44]:
df['ocean_proximity'].value_counts() #this is to understand that how many unique location is there in the dataset.

ocean_proximity
<1H OCEAN     9034
INLAND        6496
NEAR OCEAN    2628
NEAR BAY      2270
ISLAND           5
Name: count, dtype: int64

In [45]:
#now we need to OneHotEncode in the ocean_proximity columns. we can use pandas get_dummies function to onehotencode the ocean_proximity column

In [46]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,6.781058,4.867534,5.777652,4.844187,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,8.867850,7.009409,7.784057,7.037906,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,7.291656,5.252273,6.208590,5.181784,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,7.150701,5.463832,6.326149,5.393628,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,7.395108,5.638355,6.338594,5.560682,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,7.418181,5.926926,6.740519,5.802118,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,6.548219,5.017280,5.877736,4.744932,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,7.720905,6.186209,6.915723,6.073045,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,7.528869,6.016157,6.609349,5.857933,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,7.932362,6.424869,7.235619,6.274762,2.3886,89400.0,INLAND

In [51]:
# need to use one hot encoding.

In [53]:
from sklearn.preprocessing import OneHotEncoder

In [55]:
ohe = OneHotEncoder()

In [57]:
# Assuming ohe is an instance of OneHotEncoder
encoded = ohe.fit_transform(df['ocean_proximity'].values.reshape(-1, 1))

# Convert the sparse matrix to a dense array
encoded_dense = encoded.toarray()

# Add the encoded features back to the DataFrame as new columns
df_encoded = pd.DataFrame(encoded_dense, columns=ohe.get_feature_names_out(['ocean_proximity']))

# Concatenate the new one-hot encoded columns with the original DataFrame
df = pd.concat([df, df_encoded], axis=1)

In [59]:
df = df.drop('ocean_proximity', axis=1)

In [61]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
0,-122.23,37.88,41.0,6.781058,4.867534,5.777652,4.844187,8.3252,452600.0,0.0,0.0,0.0,1.0,0.0
1,-122.22,37.86,21.0,8.867850,7.009409,7.784057,7.037906,8.3014,358500.0,0.0,0.0,0.0,1.0,0.0
2,-122.24,37.85,52.0,7.291656,5.252273,6.208590,5.181784,7.2574,352100.0,0.0,0.0,0.0,1.0,0.0
3,-122.25,37.85,52.0,7.150701,5.463832,6.326149,5.393628,5.6431,341300.0,0.0,0.0,0.0,1.0,0.0
4,-122.25,37.85,52.0,7.395108,5.638355,6.338594,5.560682,3.8462,342200.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20069,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,1.0
20125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0
20267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0
20268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,0.0,0.0
20372,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,0.0,0.0,0.0

In [63]:
df.isnull().sum()

longitude                     205
latitude                      205
housing_median_age            205
total_rooms                   205
total_bedrooms                205
population                    205
households                    205
median_income                 205
median_house_value            205
ocean_proximity_<1H OCEAN     205
ocean_proximity_INLAND        205
ocean_proximity_ISLAND        205
ocean_proximity_NEAR BAY      205
ocean_proximity_NEAR OCEAN    205
dtype: int64

In [65]:
df.dropna(inplace=True)

In [67]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
0,-122.23,37.88,41.0,6.781058,4.867534,5.777652,4.844187,8.3252,452600.0,0.0,0.0,0.0,1.0,0.0
1,-122.22,37.86,21.0,8.867850,7.009409,7.784057,7.037906,8.3014,358500.0,0.0,0.0,0.0,1.0,0.0
2,-122.24,37.85,52.0,7.291656,5.252273,6.208590,5.181784,7.2574,352100.0,0.0,0.0,0.0,1.0,0.0
3,-122.25,37.85,52.0,7.150701,5.463832,6.326149,5.393628,5.6431,341300.0,0.0,0.0,0.0,1.0,0.0
4,-122.25,37.85,52.0,7.395108,5.638355,6.338594,5.560682,3.8462,342200.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20428,-118.83,34.23,6.0,9.082961,7.016610,8.127405,6.918695,8.7288,425800.0,0.0,1.0,0.0,0.0,0.0
20429,-118.84,34.22,11.0,8.061802,6.042633,7.257708,6.070738,7.5118,361900.0,0.0,1.0,0.0,0.0,0.0
20430,-118.84,34.21,16.0,8.512382,6.856462,7.839132,6.879356,5.2361,224700.0,0.0,1.0,0.0,0.0,0.0
20431,-118.80,34.21,16.0,7.290975,5.283204,6.495266,5.347108,6.2893,282700.0,0.0,1.0,0.0,0.0,0.0
20432,-118.74,34.25,25.0,7.504392,5.641907,6.867974,5.652489,5.4243,214700.0,0.0,1.0,0.0,0.0,0.0

In [69]:
plt.figure(figsize=(15,8))
sns.scatterplot(x=df['latitude'],y=df['longitude'],data=df,hue='median_house_value')

In [71]:
# we can see that if the house is near the ocean, the value of the house will be higher.

In [73]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
0,-122.23,37.88,41.0,6.781058,4.867534,5.777652,4.844187,8.3252,452600.0,0.0,0.0,0.0,1.0,0.0
1,-122.22,37.86,21.0,8.867850,7.009409,7.784057,7.037906,8.3014,358500.0,0.0,0.0,0.0,1.0,0.0
2,-122.24,37.85,52.0,7.291656,5.252273,6.208590,5.181784,7.2574,352100.0,0.0,0.0,0.0,1.0,0.0
3,-122.25,37.85,52.0,7.150701,5.463832,6.326149,5.393628,5.6431,341300.0,0.0,0.0,0.0,1.0,0.0
4,-122.25,37.85,52.0,7.395108,5.638355,6.338594,5.560682,3.8462,342200.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20428,-118.83,34.23,6.0,9.082961,7.016610,8.127405,6.918695,8.7288,425800.0,0.0,1.0,0.0,0.0,0.0
20429,-118.84,34.22,11.0,8.061802,6.042633,7.257708,6.070738,7.5118,361900.0,0.0,1.0,0.0,0.0,0.0
20430,-118.84,34.21,16.0,8.512382,6.856462,7.839132,6.879356,5.2361,224700.0,0.0,1.0,0.0,0.0,0.0
20431,-118.80,34.21,16.0,7.290975,5.283204,6.495266,5.347108,6.2893,282700.0,0.0,1.0,0.0,0.0,0.0
20432,-118.74,34.25,25.0,7.504392,5.641907,6.867974,5.652489,5.4243,214700.0,0.0,1.0,0.0,0.0,0.0

# now one more aspect in this data is that here, the total number of bedrooms and the total number of rooms is the collective number of rooms in the particular block, meaning this is the total number of bedrooms in a particular block of rooms

In [76]:
df['bedroom'] = df['total_bedrooms']/df['total_rooms']

In [78]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,bedroom
0,-122.23,37.88,41.0,6.781058,4.867534,5.777652,4.844187,8.3252,452600.0,0.0,0.0,0.0,1.0,0.0,0.717813
1,-122.22,37.86,21.0,8.867850,7.009409,7.784057,7.037906,8.3014,358500.0,0.0,0.0,0.0,1.0,0.0,0.790429
2,-122.24,37.85,52.0,7.291656,5.252273,6.208590,5.181784,7.2574,352100.0,0.0,0.0,0.0,1.0,0.0,0.720313
3,-122.25,37.85,52.0,7.150701,5.463832,6.326149,5.393628,5.6431,341300.0,0.0,0.0,0.0,1.0,0.0,0.764097
4,-122.25,37.85,52.0,7.395108,5.638355,6.338594,5.560682,3.8462,342200.0,0.0,0.0,0.0,1.0,0.0,0.762444
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20428,-118.83,34.23,6.0,9.082961,7.016610,8.127405,6.918695,8.7288,425800.0,0.0,1.0,0.0,0.0,0.0,0.772502
20429,-118.84,34.22,11.0,8.061802,6.042633,7.257708,6.070738,7.5118,361900.0,0.0,1.0,0.0,0.0,0.0,0.749539
20430,-118.84,34.21,16.0,8.512382,6.856462,7.839132,6.879356,5.2361,224700.0,0.0,1.0,0.0,0.0,0.0,0.805469
20431,-118.80,34.21,16.0,7.290975,5.283204,6.495266,5.347108,6.2893,282700.0,0.0,1.0,0.0,0.0,0.0,0.724622
20432,-118.74,34.25,25.0,7.504392,5.641907,6.867974,5.652489,5.4243,214700.0,0.0,1.0,0.0,0.0,0.0,0.751814

In [80]:
df['rooms'] = df['total_rooms']/df['households']

In [82]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,bedroom,rooms
0,-122.23,37.88,41.0,6.781058,4.867534,5.777652,4.844187,8.3252,452600.0,0.0,0.0,0.0,1.0,0.0,0.717813,1.399834
1,-122.22,37.86,21.0,8.867850,7.009409,7.784057,7.037906,8.3014,358500.0,0.0,0.0,0.0,1.0,0.0,0.790429,1.260013
2,-122.24,37.85,52.0,7.291656,5.252273,6.208590,5.181784,7.2574,352100.0,0.0,0.0,0.0,1.0,0.0,0.720313,1.407171
3,-122.25,37.85,52.0,7.150701,5.463832,6.326149,5.393628,5.6431,341300.0,0.0,0.0,0.0,1.0,0.0,0.764097,1.325768
4,-122.25,37.85,52.0,7.395108,5.638355,6.338594,5.560682,3.8462,342200.0,0.0,0.0,0.0,1.0,0.0,0.762444,1.329892
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20428,-118.83,34.23,6.0,9.082961,7.016610,8.127405,6.918695,8.7288,425800.0,0.0,1.0,0.0,0.0,0.0,0.772502,1.312814
20429,-118.84,34.22,11.0,8.061802,6.042633,7.257708,6.070738,7.5118,361900.0,0.0,1.0,0.0,0.0,0.0,0.749539,1.327977
20430,-118.84,34.21,16.0,8.512382,6.856462,7.839132,6.879356,5.2361,224700.0,0.0,1.0,0.0,0.0,0.0,0.805469,1.237381
20431,-118.80,34.21,16.0,7.290975,5.283204,6.495266,5.347108,6.2893,282700.0,0.0,1.0,0.0,0.0,0.0,0.724622,1.363536
20432,-118.74,34.25,25.0,7.504392,5.641907,6.867974,5.652489,5.4243,214700.0,0.0,1.0,0.0,0.0,0.0,0.751814,1.327626

In [84]:
plt.figure(figsize=(15,8))
sns.heatmap(df_corr,annot=True,cmap='YlGnBu',fmt= '.2f')    #don't know why this heatmap isn't showing the full annotation but given below is the annotation

In [86]:
from sklearn.model_selection import train_test_split

In [88]:
X= df.drop(['median_house_value'],axis=1)
y= df['median_house_value']

In [90]:
X_train,X_test,y_train, y_test = train_test_split(X,y,test_size=0.2)

# lets create a model using linear regression and RandomForestRegressor

In [93]:
from sklearn.linear_model import LinearRegression

In [95]:
lr = LinearRegression()

In [97]:
lr.fit(X_train,y_train)

LinearRegression()

In [99]:
X_train

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,bedroom,rooms
8895,-118.49,34.03,31.0,8.057061,6.695799,7.097549,6.614726,3.6769,1.0,0.0,0.0,0.0,0.0,0.831047,1.218049
6998,-118.04,33.95,36.0,7.909489,6.246107,7.237778,6.188264,3.8214,1.0,0.0,0.0,0.0,0.0,0.789698,1.278143
3023,-119.46,35.17,40.0,8.334472,6.700731,7.600402,6.651572,2.8323,0.0,1.0,0.0,0.0,0.0,0.803978,1.253008
6726,-118.11,34.12,52.0,7.991254,5.918894,7.050123,5.852202,11.5609,1.0,0.0,0.0,0.0,0.0,0.740671,1.365512
15442,-117.27,33.18,4.0,8.123261,6.651572,7.301148,6.442540,2.9133,0.0,1.0,0.0,0.0,0.0,0.818830,1.260879
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11609,-118.05,33.78,25.0,8.043342,6.077642,7.002156,5.996452,6.0000,0.0,1.0,0.0,0.0,0.0,0.755612,1.341350
5833,-118.32,34.20,36.0,7.590347,5.823046,6.727432,5.743003,3.9866,1.0,0.0,0.0,0.0,0.0,0.767165,1.321669
12545,-121.50,38.55,49.0,8.317522,6.453625,7.218177,6.492240,5.2362,0.0,1.0,0.0,0.0,0.0,0.775907,1.281148
2061,-119.68,36.62,31.0,6.727432,5.438079,6.424869,5.356586,1.6602,0.0,1.0,0.0,0.0,0.0,0.808344,1.255918
2855,-118.92,35.38,33.0,8.046549,6.363028,7.458186,6.302619,3.8307,0.0,1.0,0.0,0.0,0.0,0.790777,1.276699

In [101]:
lr.score(X_test,y_test)  #this is the accuracy before doing any hyperparameter tuning

0.676347060273797

In [103]:
#we can do standardscaler in the data to improve our model

In [105]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

X_train_scaler = scaler.fit_transform(X_train)
X_test_scaler = scaler.transform(X_test)

In [107]:
lr.fit(X_train_scaler,y_train)

LinearRegression()

In [109]:
lr.score(X_test_scaler,y_test)    #slightly better results but using RandomForestRegressor the results will be better.

0.6763361623308198

In [111]:
from sklearn.ensemble import RandomForestRegressor

In [113]:
rf = RandomForestRegressor()

In [115]:
rf.fit(X_train,y_train)

RandomForestRegressor()

In [116]:
rf.score(X_test,y_test)  #we can see that the results are better than linear regression

0.8096455644755354

In [117]:
# let's use GridSearchCV

In [121]:
from sklearn.model_selection import GridSearchCV

In [123]:
rf = RandomForestRegressor()

In [ ]:
param_grid = {
    'n_estimators' : [100,200,300],
    'min_samples_split':[2,4],
    'max_depth' :[None, 4,8]
}
grid_search = GridSearchCV(rf, param_grid, cv =2,
                           scoring = 'neg_mean_squared_error',
                           return_train_score = True)
grid_search.fit(X_train_scaler,y_train)